* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
}

/* canvas {
    /* position: absolute; */
} */

#paused-overlay {
    visibility: hidden;
}

#controls {
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

#canvas-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 2;
}

#main {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}
